html,
body {
  width: 360px;
  height: auto;
  font-size: 1rem;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Pretendard';
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 700;
  src:
    local('Pretendard'),
    url(../../public/fonts/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src:
    local('Pretendard'),
    url(../../public/fonts/Pretendard-ExtraLight.woff2) format('woff2');
}
